body {
    background-color: white;    
}


.container {
    padding: 1.5;
/*    margin: 0 auto 30px auto; */  
}
 

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: white;
    border-top: .25rem solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}
/*

.nav-bar h1 {
    position: absolute;
    left: -2px;
}
*/

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
}

.topnav a.icon {
    color: black;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: none;
    color: #0c2340;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.main-nav h1 {
    position: absolute;
    left: 20px;

}


.header {  
text-align: left;
}



.project {
/*    height: 3em;*/
    width: 100%;
/*    background-color: orange;*/
    margin-right:0;
}

.project img {
    width: 100%;
}

.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.explanation {
    margin-left: 40px;
    
}

.explanation h2 {
    text-align: center;
}


.explanation p {
    text-align: justify;
    
}


.indivdual-project {
    margin-bottom: 1.9em;
}

.indivdual-project img {
   width: 50%; 
  
  
}

.header-photo img {
    width: 100vw;
}

.title {
    margin-top: 60px;
    
}

.title h2 {
    text-align:center;
}

.title p {
    text-align: center;
}


.flex {
    display: flex;
    flex-direction: row;
    
}

/*
#rectangle {
    width: 100%;
    background-color: red;
    height: 80px;
    
}
*/

.indivdual-project.flex {
    margin-top: 20px;
    
    
}

img.square {
    height: 50%;
    width: 50%;
}










@media only screen and (min-width:768px) {
    
    
   .nav-bar {
        background-color: white;
        height: 60px;
    }
    
    
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }  
    
   .main-nav h1 {
    position: absolute;
    top: -4px;

} 
    

.project {
/*    height: 3em;*/
    width: 24%;
/*    background-color: orange;*/
    margin-right: .333333333333%;
}

.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
    
 .indivdual-project img {
   width: 80%; 
}   
    

  .explanation p {
      text-align: center;   
    }
 
 .project-center {
    margin-left: 150px;
        
       
    }  
   
    
    
}






@media only screen and (min-width:960px) {
    
    
    
    .container {
        width: 90vw;
        margin: 0 auto;
    }
    
    nav {
        width: 100vw;
        margin: 0 auto;
    }

    .nav-bar {
        background-color: white;
        height:60px;
    }
/*
   .nav-bar h1 {
    position: absolute;
    left: -20px;
    top: -15px;
} 
*/
    
    .main-nav {
        margin-right: 0px;
    }

    .main-nav a {
        font-size: .95rem;
    }
    


/*
.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
} 
*/
    .project img {
        width: 100%;
    }   
    
    .indivdual-project img {
    width: 75%; 
    }   
    
    .project-center {
    margin-left: 180px;
          
    } 
    
   }
    
   
    
}
    


