body {
    background-color: white;    
}


.container {
    padding: 1.5;
 
}
 

nav {
    text-align: center;
    width: 100%;
}

.nav-bar {
    overflow: hidden;
    background-color: white;
    border-top: .25rem solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}


.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    font-family: minion-pro, serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: .95rem;
}

.topnav a.icon {
    color: black;
    float: right;
    display: block;
    font-size: 1.25rem;
}

.topnav a:hover {
    background-color: none;
    color: #0c2340;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
}

.main-nav a {
    display: none;
}

.flex {
  display: block;
  flex-direction: column;  
    
}


h1#name-header{
    font-family: minion-pro, serif;
    font-weight: 800;
    position: absolute;
    top: -15px;
    left: 20px;
    z-index: 444;
}


.header {  
text-align: left;
}



.project {
    width: 100%;
    margin-right:0;
}

.project img {
    width: 100%;
}

.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.explanation {
    margin-left: 10px;
    margin-right: 10px;
    
}


.explanation p {
   font-family: minion-pro, serif;
    text-align: center;
    font-size: 15px;
    
}


.indivdual-project {
    margin-bottom: 1.9em;
}

.indivdual-project img {
   width: 100%; 
  
  
}

.visible {
  display: none;
}

.header-photo {
    display:none;
        
}

.header-photo-2  {
margin-top: 40px;
margin-left: 35px;
        
}


.header-photo-2 img {
 width: 80vw;   
        
}



.title {
    margin-top: 60px;
    
}

.title h2 {
    font-family: minion-pro, serif;
    text-align:center;
    font-size: 2.4em;
}

.title p {
    font-family: minion-pro, serif;
    text-align: center;
    font-size: 1em;
    margin-top: -10px;
}

.about-info {
     font-family: minion-pro, serif;
 text-align:center; 
    font-size: 1em;
    font-style: italic;
}

.about-info-2 {
     font-family: minion-pro, serif;
 text-align:center; 
    font-size: 1em;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;
}

.contact-info {
    margin-top: 80px;
    
}

.contact-info p{
  font-family: minion-pro, serif;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
 line-height: 1.8;

    
}

.project-center {
    margin: 0 auto;
    width: 100%;  
}










@media only screen and (min-width:768px) {
    
    
   .nav-bar {
        background-color: white;
        height: 60px;
    }
    
    
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav.responsive .icon {
        display: none;
    }

    .main-nav a {
        display: flex;
    }  
    
   .main-nav h1 {
    position: absolute;
    top: -4px;

    } 
    
    .project {
    width: 24%;
    margin-right: .333333333333%;
    }

    .project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    } 
  
    
   .project img {
        width: 100%;
    }    
    
    
 .indivdual-project img {
   width: 60%; 
    }   
    
 
 .project-center {
    margin-left: 200px;  
    }  
   
  .indivdual-project.flex {
    margin-top: 30px;
    margin-left: -200px;
    }

    img.square {
    height: 50%;
    width: 50%;
    }
  
    .flex {
    display: flex;
    flex-direction: row;
    
    }
    
    .header-photo{
       display:block;
    }
    
    
    .header-photo img {
    width: 100vw;
    }

    
    .header-photo-2  {
    margin-left: 65px;
    width: 65vw;
        
    }
    
    
    .about-info-2 {
    margin-left: 90px;
    margin-right: 55px;
}

    .explanation {
        margin-left: 20px;
        margin-right: 200px;
    }
    
   .explanation p {
       text-align: justify;
       position: relative;
       top: 260px;
       
    
}



@media only screen and (min-width:960px) {
    
    
    
    .container {
        width: 90vw;
        margin: 0 auto;
    }
    
    nav {
        width: 100vw;
        margin: 0 auto;
    }

    .nav-bar {
        background-color: white;
        height:60px;
    }

    
    .main-nav {
        margin-right: 0px;
    }

    .main-nav a {
        font-size: .95rem;
    }
    

    .project img {
        width: 100%;
    }   
    
   .project-center {
    margin-left: 235px;  
    }  
   
      .header-photo-2  {
    margin-left: 85px;
        
    }
    
    .explanation {
        margin-left: 40px;
        margin-right: 200px;
    }
   
    
}
    


