body {
    background-color: white;    
}


.container {
    padding: 1.5;
/*    margin: 0 auto 30px auto; */  
}

.project {
/*    height: 3em;*/
    width: 100%;
    background-color: orange;
    margin-right:0;
}

project img {
    width: 100%;
}

.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 


@media only screen and (min-width:768px) {

.project {
/*    height: 3em;*/
    width: 20%;
    background-color: orange;
    margin-right: .333333333333%;
}

.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
    

}






@media only screen and (min-width:960px) {
    
    .project {
/*    height: 3em;*/
    width: 20%;
    background-color: orange;
    margin-right: .333333333333%;
}

.project-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
    
    
}
    


